.FuncPanel {
    width: 400px;
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.LogOutButton {
  display: flex;
}

.DeleteUserButton {
  display: flex;
}