.Post {
  display: flex;
}

.Post h1 {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
}

.Post span {
    display: flex;
    font-weight: 300;
    font-size: small;
}

.DeleteButton {
    flex-grow: 1;
    display: flex;
    text-align: center;
    justify-self: right;
}

.PostHeader {
    display: flex;
}