.App {
  display: flex;
  flex-direction: column;
}

.AppHeader {
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  font-weight: bolder;
  font-size: xx-large;
  display: flex;
}

.AppMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
